{% extends 'blog/headerfooter.html' %}
{% load static %}
{% block home %}active{% endblock home %}
{% block container %}
<div class="container">
  <div class="row my-5">
    <div class="col-sm-12 text-center">
      <div class="jumbotron jumbotron-fluid bg-dark text-light">
        <div class="container">
          <h1 class="display-4">HOME PAGE</h1>
          <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis fuga quae recusandae maxime, repudiandae sequi ipsa nemo repellendus, repellat perferendis beatae voluptate illum dolores error modi, hic magnam blanditiis. Cum earum iusto necessitatibus possimus veniam minus asperiores accusantium? Aliquid blanditiis sed error ut deleniti nostrum odit dolores animi eveniet voluptatem, eius quo enim modi sequi voluptas architecto est sint cumque corporis inventore, quam recusandae quasi quis voluptates. Nostrum eaque libero vero temporibus quisquam, maxime commodi earum amet aut reiciendis, nihil ipsam, a delectus non. Eligendi unde nihil nulla neque quibusdam in ut, architecto suscipit odio sint sunt consequatur itaque illo?</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock container %}

