{% extends 'blog/headerfooter.html' %}
{% load static %}
{% block title %}SignUp{% endblock title %}
{% block signup %}active{% endblock signup %}
{% block container %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {% if messages %}
        {% for message in messages %}
          <p {% if message.tags %}class="alert alert-{{message.tags}} mb-5"{% endif %}>
            {{message}}
          </p>
        {% endfor %}
      {% endif %}
      <form action="" method="post" novalidate>{% csrf_token %}
        {% for fm in form %}
          <div class="form-group">
            {{fm.label_tag}}
            {{fm}} 
            <small class="text-danger font-weight-bold my-1">{{fm.errors|striptags}}</small>
          </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-success btn-block">
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <p>{{error}}</p>
          {% endfor %}
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock container %}